<div class="not-found-outer">
    <div class="site_logo">
        <img src="../../assets/img/logo2.png" alt="">
    </div>
    <div class="not_found text-center d-flex align-content-center flex-wrap">
        <!-- <div class="error_display w-100">
            <img src="../../assets/img/page-not-found.jpg" alt="">
        </div> -->
        <div class="error_text w-100">
            <span class="text-uppercase">404 Error</span>
            <p class="text-uppercase"> page not found !</p>
            <Button routerLink="/users/list">HOME</Button>
        </div>
    </div>
</div>