<div class="sign_up_div">
  <div class="container">
      <div class="row">
          <div class="col-md-6 m-auto width_500">
              <img src="../../../assets/img/logo2.png" alt="">
              <div class="card">
                  <form class="text-center box" [formGroup]="signupUserForm" (ngSubmit)="onSubmit()">
                      <div class="form_heading">
                          <h1>Sign up to ScriptUs</h1>
                          <p><span class="new_here">Back to? </span><a class="register text-muted"
                                  routerLink="/auth/login">Sign in</a></p>
                      </div>
                    <mat-form-field class="form-field input_width" appearance="outline">
                      <mat-label>Firstname</mat-label>
                      <input matInput formControlName="firstname" required>
                      <mat-icon matPrefix>person</mat-icon>
                      <mat-error
                          *ngIf="form['firstname'].touched && form['firstname'].errors">
                          <span *ngIf="form['firstname']['errors']['required']">Firstname is required.</span>
                          <span *ngIf="form['firstname']['errors']['minlength']">Minimum 4 Character required.</span>
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="form-field input_width" appearance="outline">
                      <mat-label>Lastname</mat-label>
                      <mat-icon matPrefix>person</mat-icon>
                      <input matInput formControlName="lastname" required>
                      <mat-error
                          *ngIf="form['lastname'].touched && form['lastname'].errors">
                          <span *ngIf="form['lastname']['errors']['required']">lastname is required..</span>
                          <span *ngIf="form['lastname']['errors']['minlength']">Minimum 4 Character required.</span>
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="form-field input_width" appearance="outline">
                      <mat-label>Email</mat-label>
                      <input matInput formControlName="email" required>
                      <mat-icon matPrefix>email</mat-icon>
                      <mat-error
                          *ngIf="form['email'].touched && form['email'].errors">
                          <span *ngIf="form['email']['errors']['required']">Email is required.</span>
                          <span *ngIf="form['email']['errors']['pattern']">Enter valid email.</span>
                      </mat-error>
                    </mat-form-field>
                      <mat-form-field class="form-field input_width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="hide">
                          <mat-icon matPrefix>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="form['password'].touched && form['password'].errors">
                          <span *ngIf="form['password']['errors']['required']">Password cannot be blank.</span>
                          <span *ngIf="form['password']['errors']['pattern']">Atleast 8 Characters! 1 number, 1 Capital
                            letter, 1 Small letter, 1 Special character</span>
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field class="form-field input_width" appearance="outline">
                        <mat-label>Confirm password</mat-label>
                        <input matInput formControlName="confirmPassword" [type]="secrete ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="secrete = !secrete" [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="secrete">
                          <mat-icon matPrefix>{{secrete ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error
                            *ngIf="form['confirmPassword'].touched && form['confirmPassword'].errors">
                            <span *ngIf="form['confirmPassword']['errors']['required']">Confirm Password cannot be blank.</span>
                            <span *ngIf="form['confirmPassword']['errors']['mustMatch']">Confirm Password must be repeated exactly.</span>
                        </mat-error>
                    </mat-form-field>
                      <button mat-raised-button color="primary" type="submit" class="button_width">Sign up</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>