<div class="container">
    <table>
        <thead>
            <th width="30%">Liabilities</th>
            <td colspan="2">as at 31-Mar-21</td>
            <th width="30%">Assets</th>
            <td colspan="2">as at 31-Mar-21</td>
        </thead>
        <tbody>
            <tr>
                <th>Capital Account</th>
                <td></td>
                <td></td>
                <th>Fixed Assets</th>
                <td></td>
                <td>112650</td>
            </tr>
            <tr>
                <td>Reserves & Surplus</td>
                <td>210800</td>
                <td></td>
                <td>Deffered Tax Asset</td>
                <td>12422</td>
                <td></td>
            </tr>
            <tr>
                <td>Capital</td>
                <td class="total_value">21000000</td>
                <td></td>
                <td>Espon Printer</td>
                <td>16153</td>
                <td></td>
            </tr>
            <tr>
                <th>Loans (Liability)</th>
                <td></td>
                <td>100000</td>
                <td>Jainam Software Advance</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Unsecured Loans</td>
                <td class="total_value">100000</td>
                <td></td>
                <td>Jainam Software</td>
                <td>34670</td>
                <td></td>
            </tr>
            <tr>
                <th>Current Liabilities</th>
                <td></td>
                <td>38675</td>
                <td>Mobile Phone</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Duties & Taxes</td>
                <td>-49622</td>
                <td></td>
                <td>Web Cam</td>
                <td>2282</td>
                <td></td>
            </tr>
            <tr>
                <td>Provisions</td>
                <td>88297</td>
                <td></td>
                <td>Weigh Scale Machine</td>
                <td class="total_value">47123</td>
                <td></td>
            </tr>
            <tr>
                <td>Sundry Creditors</td>
                <td class="total_value"></td>
                <td></td>
                <th>Current Assets</th>
                <td></td>
                <td>21236825</td>
            </tr>
            <tr>
                <th>Suspense A/c</th>
                <td></td>
                <td></td>
                <td>Sundry Debtors</td>
                <td>14402000</td>
                <td></td>
            </tr>
            <tr>
                <th>Profit & Loss A/c</th>
                <td></td>
                <td></td>
                <td>Cash-in-Hand</td>
                <td>303787</td>
                <td></td>
            </tr>
            <tr>
                <td>Opening Balance</td>
                <td></td>
                <td></td>
                <td>Bank Accounts</td>
                <td>649181</td>
                <td></td>
            </tr>
            <tr>
                <td>Current Period</td>
                <td>113475</td>
                <td></td>
                <td>Interest Receivable</td>
                <td>330916</td>
                <td></td>
            </tr>
            <tr>
                <td>Less: Transferred</td>
                <td class="total_value">113475</td>
                <td></td>
                <td>Advance Tax Paid</td>
                <td>50000</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Fixed Deposits - FD</td>
                <td>5190000</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Income Tax Refundable (19-20)</td>
                <td>80944</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Prepaid Expenses</td>
                <td>150000</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>TDS Receivable</td>
                <td class="total_value">79997</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <th>Misc. Expenses (ASSET)</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Total</td>
                <td></td>
                <td>21349475</td>
                <td>Total</td>
                <td></td>
                <td>21349475</td>
            </tr>
        </tbody>
    </table>
</div>