<div class="forgot_password_div">
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto width_500">
                <img src="../../../assets/img/logo2.png" alt="">
                <div class="card">
                    <form class="text-center box" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                        <div class="form_heading">
                            <mat-icon class="icon_css">lock</mat-icon>
                            <h1>Forgot password?</h1>
                            <p><span class="new_here">Back to? </span><a class="register text-muted"
                                routerLink="/auth/login">Sign in</a></p>
                        </div>
                        <mat-form-field class="form-field input_width" appearance="outline">
                            <mat-label>New password</mat-label>
                            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon matPrefix>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                          </button>
                            <mat-error
                                *ngIf="form['password'].touched && form['password'].errors">
                                <span *ngIf="form['password']['errors']['required']">Password cannot be blank.</span>
                                <span *ngIf="form['password']['errors']['pattern']">Atleast 8 Characters! 1 number, 1 Capital letter, 1 Small letter, 1 Special character</span>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="form-field input_width" appearance="outline">
                            <mat-label>Confirm password</mat-label>
                            <input matInput formControlName="confirmPassword" [type]="secrete ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="secrete = !secrete" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="secrete">
                                <mat-icon matPrefix>{{secrete ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error
                                *ngIf="form['confirmPassword'].touched && form['confirmPassword'].errors">
                                <span *ngIf="form['confirmPassword']['errors']['required']">Confirm Password cannot be blank.</span>
                                <span *ngIf="form['confirmPassword']['errors']['mustMatch']">Confirm Password must be repeated exactly.</span>
                            </mat-error>
                        </mat-form-field>
                        <button mat-raised-button color="primary" type="submit" class="mt-4 button_width">Reset password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>