.reset_password_main {
    background-image: url('../../../assets/img/background.png');
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #f5f8fa;
    padding: 32px 32px 65px 32px;
    background-position-y: bottom;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset_password_sub {
    width: 360px;
    max-width: 360px;
    display: flex;
    justify-content: center;
}

.card {
    margin-bottom: 20px;
    border: none;
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card h3 {
    font-weight: 600;
}

.card .email {
    font-weight: 600;
}

.card button {
    margin-top: 5px;
    border: none;
    background: none;
    color: #0095f6;
    font-weight: 500;
}