.list_table{
    padding: 65px 32px;
    background-image: linear-gradient( 95.2deg, rgb(182, 209, 241) 26.8%, rgb(182, 209, 241) 64% );
}
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin: 40px auto;
    background-color: #fff;
}
 
.mat-table {
    overflow: auto;
    max-height: 500px;
}

.btn-style{
    border: none;
    padding: 8px;
    width: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-style .user{
    margin-right: 5px;
}

.mat-header-cell {
    background-color: #1360ae;
    color: #fff;
}

.mat-row:nth-child(2n) {
    background-color: #e7e1e1;
}

/* .mat-sort-header-pointer-left, .mat-sort-header-pointer-right{
    background: #fff !important;
} */

::ng-deep .mat-sort-header-arrow{
    color: #ffff !important;
}